<div class="container">
    <div class="text-center py-5">
        <h1>要對誰講幹話？</h1>
    </div>
    <form action="/" method="POST">
        <div class="d-flex">
            <div class="col-sm text-center d-flex flex-column">
                <img id="myimg" class="rounded img-thumbnail"
                    src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt="">
                <div class="mt-2"><input type="radio" name="jobs" value="工程師">
                    <scan class="ml-2" style="font-size:1.2rem;">工程師</scan>
                </div>
            </div>
            <div class="col-sm text-center d-flex flex-column">
                <img id="myimg" class="rounded img-thumbnail"
                    src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt="">
                <div class="mt-2"><input type="radio" name="jobs" value="設計師">
                    <scan class="ml-2" style="font-size:1.2rem;">設計師</scan>
                </div>
            </div>
            <div class="col-sm text-center d-flex flex-column">
                <img id="myimg" class="rounded img-thumbnail"
                    src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt="">
                <div class="mt-2"><input type="radio" name="jobs" value="創業家">
                    <scan class="ml-2" style="font-size:1.2rem;">創業家</scan>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center m-3">
            <button type="submit" class="btn btn-dark shit-btn mx-5">產生幹話</button>
            <textarea class="talk-shit" placeholder=" ！＠＃＄％＾＆＊（） " id="generate" class="p-1"></textarea>
        </div>
    </form>
</div>